<!DOCTYPE html>
<html ng-app="myApp" >
<script src="file:///home/bozana/my_learning/angularJS/www/lib/jquery/dist/jquery.min.js"></script>
<script src="file:///home/bozana/my_learning/angularJS/www/lib/angular/angular.min.js"></script>
<style>
	table, th , td, th {
	  	border: 1px solid grey;
  		border-collapse: collapse;
  		padding: 5px;
	}
	table tr:nth-child(odd) {
  		background-color: #f1f1f1;
	}
	table tr:nth-child(even) {
  		background-color: #ffffff;
	}
</style>
<body>
	<div ng-controller="myCtrl">
		<h3> Click below to uncover the name</h3>
		<table>
			<tr ng-repeat="n in names track by $index" ng-click="clickMe($index, $event)" ng-mouseover="getHint($index, $event)">
				<td>{{ n }}</td>
			</tr>
		</table>
	</div>
	<script src="myCtrl.js"></script>
</body>
</html>