<!doctype html>
<html ng-app="app">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="http://ui-grid.info/release/ui-grid.js"></script>
    <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">
    <link rel="stylesheet" href="main.css" type="text/css">
  </head>

  <body>
    <div ng-controller="MainCtrl">
      <h3>This example ilustrates how to use filtering on grid</h3>
      <br>
      <button id='showFiltered' ng-click="showFiltered()" class="btn btn-success">Show Filtered</button>
      <br>
      <div id="grid1" ui-grid="gridOptions1" ui-grid-edit class="grid"></div>
      <p><b>There are {{ numColumns }} filtered columns:</b></p>
      <p ng-repeat="x in filteredRows">{{ x.entity}}</p>
      <p><b>Filtered and then changed Data:</b></p>
      <p ng-repeat="d in changedData">{{ d }}</p>
    </div>
   <script src="app.js"></script>
  </body>

</html>